In [1]:
import pandas as pd

In [2]:
election = pd.read_csv('election_data.csv')

In [3]:
election.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
total_votes = len(election)
total_votes

3521001

In [7]:
results = election['Candidate'].value_counts()
results

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [8]:

election['Candidate'].value_counts().plot.bar()

In [9]:
percentages = [(percentage/total_votes)*100 for percentage in results]
percentages

[63.00001050837531, 19.999994319797125, 13.999996023857989, 2.999999147969569]

In [10]:
max_name = results.idxmax()
max_name

'Khan'

In [11]:
print ("Election Results:")
print ("-----------------------------------")
print ("Total Votes: %d"%total_votes)
print ("-----------------------------------")
print ("Khan",str(round(percentages[0],2)) + "%","("+str(results[0])+")")
print ("Correy",str(round(percentages[1],2)) + "%","("+str(results[1])+")")
print ("Li",str(round(percentages[2],2)) + "%","("+str(results[2])+")")
print ("O'Tooley",str(round(percentages[3],2)) + "%","("+str(results[3])+")")
print ("-----------------------------------")
print ("Winner: " + max_name )

Election Results:
-----------------------------------
Total Votes: 3521001
-----------------------------------
Khan 63.0% (2218231)
Correy 20.0% (704200)
Li 14.0% (492940)
O'Tooley 3.0% (105630)
-----------------------------------
Winner: Khan